body {
  text-align: center;
  background-color: #6200ee;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}
.title{
  color : white;
  padding-bottom:0px;
  margin-bottom:0px;
  font-family:sans-serif;

}
.total{
  color : white;
  padding-bottom:0px;
  margin-bottom:0px;
  font-weight : lighter;
}
.price{
  color : white;
  padding-bottom:0px;
  margin-bottom :0px;
  margin-top:12px;
  font-weight : lighter;
}
.borderBottom{
  border-bottom : 1px solid #b07ff6;
  margin-bottom : 8vh;
}
.input{
  background-color: transparent;
  border-radius: 5px;
  width : 80%;
  border : 1px solid #b07ff6;
  padding : 1.2vh 1vw;
  color : white;
}
.error{
  color:pink;
}
.addbutton{
  padding : 1vh 2vw;
  border-radius: 15px;
  background-color: #03dac5;
  border : none;
}
.pd-mg-0{
  padding : 0px;
  margin : 0px;
}
.card-paper{
  padding:1.5vh 0vh;
}
.card-date{
  text-align: left;
  margin-left : 2vw;
  font-size: 0.6em;
  color : lightslategrey;
  font-weight: bold;
}
.card-title{
  text-align: left;
  margin-left : 2vw;
  color : #7e2df1;
}
.card-note{
  text-align: left;
  margin-left : 2vw;
  font-size: smaller;
  color : lightslategrey;
  font-size: 0.6em;

}
.card-icons{
  color : #b07ff6;
  font-size: smaller;
  cursor: pointer;
}








